.radios {
	.container {
		display: block;
		position: relative;
		padding-left: vw(40);
 		cursor: pointer;
		font-weight: normal;
		font-size: vw(14);
		line-height: vw(20);
		color: $black;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.container.error {
		span { 
			border-color: $red !important;
		}
	 }

	.container.error ~ .container {
		span { 
			border-color: $red !important;
		}
	 }

	.container input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
	}

	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: vw(22);
		width: vw(30);
		background-color: #eee;
		border-radius: vw(34);
		cursor: pointer;
		inset: 0px;
		background-color: white;
		border: 1px solid black;
		transition: all 0.8s ease 0s;
		margin: 0;
	}

	.container:hover input ~ .checkmark {
		background-color: #ccc;
	}

	.container input:checked ~ .checkmark {
		background-color: $blue-strong;
		border: 1px solid $blue-strong;
	}

	.checkmark:after {
		content: '';
		position: absolute;
		display: none;
	}

	.container input:checked ~ .checkmark:after {
		display: block;
	}
}
