@import '../components/calendar';

@import 'node_modules/select2/src/scss/core';

.unavailable {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	&__wrapper {
		@media (min-width: $size-desktop-min) {
			width: vw(1440);
			margin: vw(55) 0 vw(95);
			display: flex;
			justify-content: space-around;
		}
	}

	&__title {
		font-size: vw(32);
		line-height: vw(30);
		color: $blue-strong;
		font-weight: 400;
		margin: 0;
		text-align: center;
		text-align: left;
		padding: 0 vw(30);

		@media (min-width: $size-desktop-min) {
			font-size: vw(52);
			line-height: vw(52);
			margin: 0;
			text-align: unset;
		}

		.span {
			font-weight: bold;
		}
	}

	&__left {
		@media (min-width: $size-desktop-min) {
			width: 35%;
		}

		&--wrapper {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			@media (min-width: $size-desktop-min) {
				width: vw(487);
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			> img {
				margin-top: vw(20);
				width: vw(247);
				height: vw(262);

				@media (min-width: $size-desktop-min) {
					margin-top: vw(25);
					width: vw(275);
					height: vw(285);
				}
			}
		}

		&--text {
			@include gradientBgLeftRightFade();
			border-radius: vw(25);
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			width: vw(347);
			height: vw(124);

			@media (min-width: $size-desktop-min) {
				width: vw(487);
				height: vw(124);
			}

			&-top {
				display: flex;
				justify-content: space-around;
				margin: vw(10) vw(7) 0;

				@media (min-width: $size-desktop-min) {
					margin: vw(10) 0 0 0;
					height: auto;
				}

				.row {
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 0 vw(20);

					@media (min-width: $size-desktop-min) {
						padding: 0 vw(50);
					}
				}
			}

			img {
				margin: 0 vw(20) 0 0;
				width: vw(66);
				height: vw(66);
				position: relative;
				bottom: vw(7);
			}

			h1 {
				font-weight: bold;
				font-size: vw(28);
				line-height: vw(30);
				color: #ffffff;
				margin: 0;
				bottom: vw(5);
				position: relative;

				@media (min-width: $size-desktop-min) {
					font-size: vw(40);
					line-height: vw(42);
				}
			}
		}
	}

	&__right {
		@media (min-width: $size-desktop-min) {
			width: 46%;
		}

		&--info {
			margin: vw(35) auto 0 auto;
			width: vw(350);
			text-align: center;

			@media (min-width: $size-desktop-min) {
				width: 100%;
				margin-top: vw(70);
			}

			h2 {
				font-weight: bold;
				font-size: vw(15);
				line-height: vw(20);
				color: $black;
			}

			h3 {
				font-weight: normal;
				font-size: vw(13);
				line-height: vw(20);
				color: $black;
				margin-top: vw(10);
			}

			> div {
				display: flex;
				justify-content: center;
			}

			a {
				text-decoration: none;
				display: flex;
				justify-content: center;
				align-items: center;
				margin: vw(28) vw(25) 0 0;

				@media (min-width: $size-desktop-min) {
					margin: vw(40) vw(43) 0 0;
				}

				&:last-child {
					margin: vw(28) 0 0 0;

					@media (min-width: $size-desktop-min) {
						margin: vw(40) 0 0 0;
					}
				}

				img {
					margin-right: vw(8);
				}

				span {
					font-weight: bold;
					font-size: vw(22);
					line-height: vw(20);
					color: $blue-strong;
				}
			}

			a.btn {
				@include gradientBgTopDown();
				color: white;
				width: vw(254);
				height: vw(50);
				border-radius: vw(15);
				font-weight: 600;
				font-size: vw(18);
				line-height: vw(21);
				display: flex;
				justify-content: center;
				align-items: center;
				text-decoration: none;
				margin: vw(30) auto vw(55) auto;

				@media (min-width: $size-desktop-min) {
					margin: vw(60) auto 0 auto;
					width: vw(358);
				}
			}
		}

		&--face {
			display: flex;
			margin: 0 auto vw(40) auto;
			width: vw(234);
			height: vw(234);
		}
	}
}
