<footer class="footer">
  <div class="footer__links">
    <div class="footer__links--wrapper">
      <a title="Ultragaz" href="https://www.ultragaz.com.br/"><img class="ultragaz" alt="Ultragaz" src="./assets/ultragaz-alt.png"></a>
      
      <span>TRABALHANDO COM</span>
      <a target="_blank" title="CDF" href="https://cdf.net/">
        <img class="cdf" alt="CDF" src="./assets/logo-cdf.svg">
      </a>

      <img class="certificado" alt="Certificado de Segurança" src="./assets/certificado.png">

      <div class="footer__links--column">
        <p>Para dúvidas, sugestões ou <br>suporte entre em contato conosco.</p>

        <div class="footer__links--row">
          <a
            href="https://api.whatsapp.com/send?phone=551130393057&amp;text=Ultragaz%20Resolve%3A%20envie%20essa%20msg%20p%2F%20falar%20com%20um%20especialista."
            target="_blank"
            title="Whatsapp"
          >
            <span>whatsapp:</span>
            (11) 3039-3057
          </a>
          <a
            href="https://venda-direta.cdfhml.net/ultragaz/storage/ultragaz/CDF_Politica_de_Privacidade_Plataformas_de_venda_Projeto_Ultragaz_Resolve_1.pdf"
            target="_blank"
            title="Política de Privacidade"
            class="contato"
          >
            Política de Privacidade
          </a>
          <a
            href="https://venda-direta.cdfhml.net/ultragaz/assets/ultragaz/site/static/files/termodeuso.pdf"
            target="_blank"
            title="Termo de Uso"
            class="contato"
          >
            Termo de uso
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__social">
    <a target="_blank" title="Facebook" href="https://www.facebook.com/ultragazoficial/">
      <img alt="Facebook" src="./assets/icon-facebook.svg">
    </a>
    <a target="_blank" title="Youtube" href="https://www.youtube.com/user/UltragazBrasilgas">
      <img alt="Youtube" src="./assets/icon-youtube.svg">
    </a>
    <a target="_blank" title="Instagram" href="https://www.instagram.com/ultragazoficial/">
      <img alt="Instagram" src="./assets/icon-instagram.svg">
    </a>
  </div>
</footer>